<div ng-controller="searchController as search">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <input ng-model="searchvalue" type="text" class="form-control" placeholder="Search for friends!">
    </div>
    <div class="panel-body text-center">
      <button ng-click="search.search(searchvalue)" class="btn btn-default">Search!</button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>Search Results</h3>
    </div>
    <div class="panel-body text-center">
      <div ng-repeat="friend in search.results" class="media">
        <div class="media-left">
            <img class="media-object" src={{friend.picture}}>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{friend.name}}</h4>
          <p>{{friend.content}}</p>
        </div>
        <div class="media-body">
          <button ng-show="friend.friend === 'false'" ng-click="search.add(friend.id)" class="btn btn-default" id={{friend.id}}>Add</button>
          <button ng-show="friend.friend === 'true'" ng-click="search.remove(friend.id)" class="btn btn-default" id={{friend.id}}>Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
